.have-not-categoryProduct-title{
    position: absolute;
    left: 135px;
    top: 700px;
    font-size: 70px;
}

.img-no-product-found{
    position: relative;
    left: 180px;
    top: 100px;
    width: 1500px;
}